<style>
    .filters {
        display: flex;
        flex-wrap: wrap;
    }
    .categories {
        display: flex;
        flex-wrap: wrap;
    }
</style>
<body>
    <div class="filters row ">
        <div class="categories col-7 mt-3">
            <a href="/category/Trending"><div class="filter">
                <div><i class="fa-solid fa-fire-flame-curved"></i></div>
                <p>Trending</p>
            </div></a>
            <a href="/category/Rooms"><div class="filter">
                <div><i class="fa-solid fa-bed"></i></div>
                <p>Rooms</p>
            </div></a>
            <a href="/category/Iconic Cities"><div class="filter">
                <div><i class="fa-solid fa-mountain-city"></i></div>
                <p>Iconic Cities</p>
            </div></a>
            <a href="/category/Mountains"><div class="filter">
                <div><i class="fa-solid fa-mountain"></i></div>
                <p>Mountains</p>
            </div></a>
            <a href="/category/Pools"><div class="filter">
                <div><i class="fa-solid fa-person-swimming"></i></div>
                <p>Pools</p>
            </div></a>
            <a href="/category/Castles"><div class="filter">
                <div><i class="fa-brands fa-fort-awesome"></i></div>
                <p>Castles</p>
            </div></a>
            <a href="/category/Snowfall"><div class="filter">
                <div><i class="fa-regular fa-snowflake"></i></div>
                <p>Snowfall</p>
            </div></a>
            <a href="/category/Skiing"><div class="filter">
                <div><i class="fa-solid fa-person-skiing-nordic"></i></div>
                <p>Skiing</p>
            </div></a>
            <a href="/category/Camping"><div class="filter">
                <div><i class="fa-solid fa-campground"></i></div>
                <p>Camping</p>
            </div></a>
            <a href="/category/Beach"><div class="filter">
                <div><i class="fa-solid fa-umbrella-beach"></i></div>
                <p>Beach</p>
            </div></a>
            <a href="/category/Forests"><div class="filter">
                <div><i class="fa-solid fa-tree"></i></div>
                <p>Forests</p>
            </div></a>
        </div>
        <div class="tax-toggle col-3 mt-3">
            <div class="form-check-reverse form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                <label class="form-check-label" for="flexSwitchCheckDefault">Display total after Taxes</label>
            </div>
        </div>
    </div>
</body>